

/** Carrousel section **/
swiper-container {
  @apply w-full;
  --swiper-navigation-color: white;
}


.swiper-button-prev {
    @apply ml-1.5;
    z-index: 100;
}


swiper-slide {
  @apply h-full w-80;
}

swiper-slide img {
  width: 70vw;
  border: 5px solid var(--primary-color);
  border-radius: 1vw;
  @apply block;

}