<div class="footer__first__ctn__second__column">
  <h2 class="fw-bold text-primary mb-3 text-center">Envíanos un mensaje</h2>
  <form class="d-flex flex-column gap-3" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
      <div class="form-group">
          <input type="text" class="form-control bg-info-subtle" name="name" ngModel required placeholder="Nombre*">
      </div>
      <div class="form-group">
          <input type="email" class="form-control bg-info-subtle" name="email" ngModel required placeholder="Correo electrónico*">
      </div>
      <div class="form-group">
          <input type="text" class="form-control bg-info-subtle" name="phone" ngModel placeholder="Teléfono">
      </div>
      <div class="form-group">
          <input type="text" class="form-control bg-info-subtle" name="city" ngModel placeholder="Ciudad">
      </div>
      <div class="form-group">
          <textarea class="form-control bg-info-subtle" name="message" rows="3" ngModel required placeholder="Mensaje*"></textarea>
      </div>

      <button type="submit" [disabled]="!contactForm.form.valid" class="btn btn-primary">Enviar Mensaje</button>
  </form>

  <!-- Mensaje de éxito -->
  <div *ngIf="successMessage" class="alert alert-success mt-3">
      {{ successMessage }}
  </div>
</div>
