<div class="pop-up">
  <div class="pop-up_ctn d-flex flex-column g-2 align-center">
    <h2>Información Matrícula</h2>
    
      <span>Estimado Egresado</span>
      <span>Un cordial Saludo con nuestros mejores deseos</span>
      <span>Bienvenido!</span>

      <span>UNIVERSIDAD DE CALDAS - UNIVERSIDAD CATÓLICA LUIS AMIGÓ</span>
      <span>
        INVERSIÓN -VALOR MATRICULA por única vez: 15% de un salario mínimo
        mensual legal vigente ($195.000 año 2024) -Una vez matriculado la opción
        de ser Colegiado es VOLUNTARIA 10% de un salario mínimo legal vigente
        ($130.000 año 2025) Beneficios como capacitaciones, diplomados y otros
        SOLO PARA COLEGIADOS.</span
      >
      <span>
        -Consigna en Bancolombia cuenta corriente Nº 059 78 919 827. (en
        referencia de pago poner su número de cédula)
      </span>
      <span> Los documentos que se requieren para la vinculación son: </span>
    

    <ul>
      <li>
        <span>Acta de Afiliación para Ser Colegiado (Solicitar)</span>
      </li>
      <li>
        <span>Acta de grado y Diploma PDF</span>
      </li>
      <li>
        <span>Cédula PDF</span>
      </li>
      <li>
        <span>
          Soporte de pago (al momento de enviar soporte que se vea fecha clara
          de dia de consignación)
        </span>
      </li>
    </ul>

    <span>
      enviar solicitud al correo : conaldefa@gmail.com 
      <br>
      NOTA: La tarjeta no tiene
      COSTO, el COSTO que se paga es LA MATRICULA.
    </span>
  </div>
  <button class="btn" (click)="closeDialog()"><span>Aceptar</span></button>
</div>
