<div class="pop-up">
  <div class="pop-up_ctn">
    <div class="title">
      <img src="assets/img/logo.png" alt="Logo Conaldefa" />
      <h2>Información Matrícula</h2>
    </div>

    <div class="txt_ctn scrollable-content">
      <span>Estimado Egresado</span>
      <span>Un cordial Saludo con nuestros mejores deseos</span>
      <span>Bienvenido!</span>

      <span>UNIVERSIDAD DE CALDAS - UNIVERSIDAD CATÓLICA LUIS AMIGÓ</span>
      <span> INVERSIÓN </span>
      <span>
        -VALOR MATRICULA por única vez: 15% de un salario mínimo mensual legal
        vigente ($195.000 año 2024)
      </span>
      <span>
        -Una vez matriculado la opción de ser Colegiado es VOLUNTARIA 10% de un
        salario mínimo legal vigente ($130.000 año 2025) Beneficios como
        capacitaciones, diplomados y otros SOLO PARA COLEGIADOS.
      </span>
      <span>
        -Consigna en Bancolombia cuenta corriente Nº 059 78 919 827. SE RECIBEN
        PAGOS VIA NEQUI, CORRESPONSAL O BANCO DIRECTAMENTE, EL NIT DE CONALDEFA
        es: 901058784 cuando se requiera (en referencia de pago poner su número
        de cédula o al momento de escanear colocarlo con lapicero).
      </span>
      <span
        >Los documentos que se requieren para la vinculación deben ser enviados
        en PDF y nombrados CEDULA_NOMBREDEPROFESIONAL :</span
      >

      <ul>
        <li>
          <span>Acta de grado y Diploma PDF</span>
        </li>
        <li>
          <span>Cédula PDF</span>
        </li>
        <li>
          <span
            >Soporte de pago (al momento de enviar soporte que se vea fecha
            clara de día de consignación, referencia de pago la cc del
            profesional solicitante o ponerlo con lapicero en el soporte de
            pago)</span
          >
        </li>
        <li>
          <span>
            Opcional -Acta de Matricula para Ser Colegiado (Solicitar por
            correo)
          </span>
        </li>
      </ul>

      <span>
        Enviar solicitud al correo : conaldefa@gmail.com o al link de formulario
        donde puede adjuntar los documentos requeridos
        https://gmail.us21.list-manage.com/track/click?u=87a6b3d1f08aa9c74e5694697&id=ec147b1578&e=d0ae0f1e4b
        También puede consultar la pagina oficial de CONALDEFA:
        http://conaldefa.org y realizar tramites que requiera.
        <br />
        Una vez enviada la información si usted requiere un certificado que
        conste su asociación al colegio debe solicitarlo por correo electrónico.
      </span>
      <span>
        NOTA: La tarjeta no tiene COSTO, el COSTO que se paga es LA MATRICULA.
      </span>
      <span>
        Una vez enviada la solicitud o llenado el formulario, la entrega de las
        tarjetas tienen un tiempo estimado de 10 a 15 días calendario para su
        entrega, es decir del 1 al 15 de cada mes se reciben solicitudes y a
        final de mes o inicios del siguiente se estaría entregando, para las
        personas que no están en Manizales, Se les envía por correo certificado
        con pago Contra entrega.
      </span>
    </div>
  </div>
  <div class="btn_ctn">
    <button class="btn_custom" (click)="closeDialog()">
      <span>Aceptar</span>
    </button>
  </div>
</div>
