<header>
  <div class="header__desktop d-flex">
    <div class="header__desktop__first__ctn d-flex">
      <div class="logo">
        <img src="assets/img/logo.png" alt="Logo Conaldefa" />
      </div>
      <div class="header__desktop__btns">
        <a class="btn-primary" routerLink="">Tramites</a>
        <a class="btn-primary" routerLink="">Matriculate</a>
        <a class="btn-primary" routerLink="">Eventos</a>
      </div>
    </div>
    <div class="header__desktop__second__ctn">
      <ul class="menu_navbar">
        <a class="fw-bold text-decoration-none" routerLink="quienes-somos"
          >¿Quienes somos?</a
        >
        <li>
          <a class="fw-bold text-decoration-none" routerLink="">Servicios</a>
        </li>
        <li>
          <a class="fw-bold text-decoration-none" routerLink=""
            >Red Institucional</a
          >
        </li>
        <li>
          <a class="fw-bold text-decoration-none" routerLink="">Colegiatura</a>
        </li>
        <li>
          <a class="fw-bold text-decoration-none" routerLink="">Normatividad</a>
        </li>
        <li>
          <a class="fw-bold text-decoration-none" routerLink=""
            >Nuestros Egresados</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
