<section class="quienes_somos_section">
  <div class="quienes_somos_content">
    <h1>#QuienesSomos</h1>
    <p>
      EL COLEGIO NACIONAL DE PROFESIONALES EN DESARROLLO FAMILIAR, es la única
      entidad asociativa que por disposición legal representa los intereses
      profesionales del área de Desarrollo Familiar, conformado por el mayor
      número de asociados activos de esta profesión, tiene como objeto la unión
      y agremiación de los profesionales en Desarrollo Familiar. El estudio, la
      investigación, la divulgación, el perfeccionamiento del Desarrollo
      familiar como disciplina y el adecuado ejercicio profesional.
    </p>
  </div>
</section>
<section class="nuestra_historia_section">
  <div class="title">
    <h4>- Conoce -</h4>
    <h2>NUESTRA HISTORIA</h2>
  </div>
  <div class="linea_historica_ctn">
    <div class="card_ctn card_1983">
      <div class="fecha_ctn wow slideInLeft">
        <span>1983</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <h6>Gestión y aprobación de la facultad de desarrollo familiar</h6>
        <p>
          Acta 016 (marzo 15 de 1983) Consejo Superior, Universidad de Caldas
          Acuerdo 295 de Diciembre 14 de 1983
        </p>
      </div>
    </div>
    <div class="card_ctn card_1984">
      <div class="fecha_ctn wow slideInLeft">
        <span>1984</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <span>Ingreso de primeros estudiantes</span>
        <p>Currículo en prueba</p>
      </div>
    </div>
    <div class="card_ctn card_1988">
      <div class="fecha_ctn wow slideInLeft">
        <span>1988</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <span
          >Primera promocion de Desarrolo Familiar en la Universidad de
          Caldas</span
        >
      </div>
    </div>
    <div class="card_ctn card_1992">
      <div class="fecha_ctn wow slideInLeft">
        <span>1992</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <span
          >Creación del programa de Desarrollo Familiar en la Universidad
          Católica Luis Amigó
        </span>
      </div>
    </div>
    <div class="card_ctn card_1998">
      <div class="fecha_ctn wow slideInLeft">
        <span>1998</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <span>LEY 429 DE 1998</span>
        <p>Reglamento del ejercicio de la Profesión en Desarrollo Familiar</p>
      </div>
    </div>
    <div class="card_ctn card_2009">
      <div class="fecha_ctn wow slideInLeft">
        <span>2009</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <span>LEY 1361 DE 2009</span>
        <p>Ley de Protección Integral a la Familia</p>
      </div>
    </div>
    <div class="card_ctn card_2014">
      <div class="fecha_ctn wow slideInLeft">
        <span>2014</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <div class="card_1">
          <span
            >Demanda inconstitucionalidad Ley 1098 por vulnerar el derecho al
            trabajo de lxs Profesionales en Desarrollo familiar
          </span>
          <p>CLÍNICA SOCIO-JURIDÍCA DE LA UNIVERSIDAD DE CALDAS</p>
        </div>
        <div class="card_1">
          <span
            >Sentencia C-505/14 de la Corte Constitucional, que declara
            inconstitucional los artículo 73, 79 y 84.
          </span>
          <p>Comités de Adopción, Comisarias y Defensorías de Familia.</p>
        </div>
      </div>
    </div>
    <div class="card_ctn card_2018">
      <div class="fecha_ctn wow slideInLeft">
        <span>2018</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <span>Creación del Colegio de Profesionales </span>
        <img src="assets/img/logo.png" alt="" />
      </div>
    </div>
    <div class="card_ctn card_2021">
      <div class="fecha_ctn wow slideInLeft">
        <span>2021</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <span
          >Incorporación en la ley 2126 sobre Comisarías de Familia, el perfil
          profesional en Desarrollo Familiar
        </span>
      </div>
    </div>
    <div class="card_ctn card_2023">
      <div class="fecha_ctn wow slideInLeft">
        <span>2023</span>
      </div>
      <div class="info_fecha wow slideInRight">
        <h6>LEY 2336 DE 2023 -O ctubre 11</h6>
        <span
          >"Por medio de la cual se dicta normas para el ejercicio de la
          profesión de desarrollo familiar, se expide el código deontológico y
          ético, se le otorgan facultades al colegio nacional de profesionales
          en desarrollo familiar, se deroga la ley 429 de 1998 y se dictan otras
          disposiciones relativas al ejercicio de la profesión"
        </span>
      </div>
    </div>
  </div>
</section>

<section class="junta_directiva_section">
  <div class="title">
    <h3>Nuestra Junta Directiva</h3>
  </div>
  <div class="junta_directiva_ctn w-100">
    <div class="carousel_ctn">
      <swiper-container
        [centeredSlides]="swiperConfig.centeredSlides"
        [paginationClickable]="swiperConfig.paginationClickable"
        [navigation]="true"
        [spaceBetween]="swiperConfig.spaceBetween"
        [loop]="swiperConfig.loop"
        [autoplay]="swiperConfig.autoplay"
        [speed]="swiperConfig.speed"
        [effect]="swiperConfig.effect"
        [slidesPerView]="swiperConfig.slidesPerView"
        class="mySwiper"
      >
        <ng-container *ngFor="let member of members">
          <swiper-slide class="swiper-slide">
            <div class="slide-content">
              <div class="img_ctn">
                <img [src]="member.img" alt="{{ member.name }}" />
              </div>
              <div class="text_ctn p-3 d-flex flex-column h-100 justify-content-evenly">
                <h4 class="position_text">
                  {{ member.position }}:  <br> <span>{{ member.name }}</span>
                </h4>
                <p>
                  <span><strong>Educación:</strong> </span
                  >{{ member.education }}
                </p>
                <p>
                  <span><strong>Experiencia:</strong> </span
                  >{{ member.experience }}
                </p>
              </div>
            </div>
          </swiper-slide>
        </ng-container>

        <!-- Flechas de navegación personalizadas -->
        <div class="swiper-button-prev custom-swiper-button"></div>
        <div class="swiper-button-next custom-swiper-button"></div>
      </swiper-container>
    </div>
  </div>
</section>
