.header__desktop .menu_navbar {
  background-color: #f58736 !important;
}

.quienes_somos_section {
  padding: 5% 5% 1% 5%;
  height: 100vh;
  background-image: url("/assets/img/img_banner.png");
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quienes_somos_section::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background: #002C3F;
  z-index: 1; 
}

.quienes_somos_section .quienes_somos_content {
  z-index: 99;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
}

.quienes_somos_section .quienes_somos_content p{
  color: white;
}

.quienes_somos_section .quienes_somos_content h1 {
  color: white;
  line-height: 6vw;
  font-size: 7vw;
  font-weight: normal;
}

.quienes_somos_section .quienes_somos_content h1 span {
  color: #f58736;
  font-size: 7vw;
  font-weight: bold;
}

.quienes_somos_section .quienes_somos_content_final {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.quienes_somos_section .quienes_somos_content_final span {
  color: white;
  font-size: 4vw;
  position: relative;
  z-index: 99;
}

.quienes_somos_section .quienes_somos_content_final i {
  color: #f58736;
  font-size: 2vw;
  position: relative;
  z-index: 99;
}

/** nuestra historia section */

.nuestra_historia_section {
  height: 100vh;
  padding: 0;
}

.linea_historica_ctn {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  gap: 0px;
  transition: all 0.3s ease-in-out;
}

.card_ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  flex: 1; 
  gap: 1vw;
  text-align: center;
  min-width: 50px;
  flex-direction: column;
}

.card_ctn:nth-child(odd) {
  background-color: #F5F5F5; /* Fondo más oscuro */
}

.card_ctn.expanded {
  flex: 3; /* Tarjeta expandida ocupa más espacio */
  background-color: #f58736;
  color: #fff;
}

.card_ctn:not(.expanded) {
  flex: 0.7; /* Las tarjetas no activas se reducen */
}

.card_ctn .info_fecha {
  display: none;
  padding: 10px;
}

.card_ctn .info_fecha p {
  color: white;
}

.card_ctn.expanded .info_fecha {
  display: block;
  text-align: left;
  padding-top: 10px;
}

.fecha_ctn {
  font-weight: bold;
  position: relative;
}

.fecha_ctn span {
  font-size: 1.5vw;
}

.fecha_ctn::before {
  position: absolute;
  bottom: 1%;
  content: "";
  width: 100%;
  background-color: #f58736;
  height: 2px;
}

.card_ctn.expanded .fecha_ctn::before {
  background-color: white;

}

/** junta_directiva_section */

.junta_directiva_section{
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.junta_directiva_section .title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.junta_directiva_section .title h3{
  font-size: 4vw;
}

.junta_directiva_section .title span{
  font-size: 4vw;
  font-weight: bold;
}

.junta_directiva_section .slide-content {
  display: flex;
  
}