<section class="quienes_somos_section">
    <div class="quienes_somos_content">
      <h1>
        <strong>Leyes</strong> que <br />
        nos rigen
      </h1>
      <p>
        El ejercicio del Desarrollo Familiar en Colombia se rige por un conjunto
        de leyes y normas que garantizan la calidad, la ética y el bienestar de
        las familias. Estas leyes establecen las funciones y responsabilidades de
        los profesionales, protegen los derechos de las familias y contribuyen al
        fortalecimiento del tejido social. En esta página, encontrarás información
        sobre las principales leyes que rigen nuestra profesión.
      </p>
    </div>
  </section>
  
  <section class="resolucion_section">
    <div class="resoluciones d-flex flex-column gap-2" *ngIf="resoluciones.length > 0">
      <div class="title">
        <h1>Resoluciones</h1>
      </div>
      <ul class="cards_ctn">
        <li class="resoluciones_ctn" *ngFor="let resolucion of resoluciones">
          <div class="resolucion_item">
            <div class="titulo">
              <h4>{{ resolucion.title }}</h4>
            </div>
            <div class="contenido">
              <p>{{ resolucion.content | slice : 0 : 30 }}...</p>
            </div>
            <div class="contenido d-flex flex-column">
              <span>Fecha de Publicación:</span>
              <span>{{ resolucion.resolution_date | slice : 0 : 10 }}</span>
            </div>
            <button
              class="btn-primary"
              [routerLink]="['/resoluciones', resolucion.id]"
            >
              Ver más
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>
  