<section class="banner_section d-flex flex-column">
    <div class="title">
        <h1>#NuestrosAsociados</h1>
    </div>
    <div class="banner_content">
        CONALDEFA se enorgullece de contar con una comunidad vibrante
        de egresados en Desarrollo Familiar que trabajan incansablemente
        por el bienestar de las familias colombianas. En esta página, te
        invitamos a conocer a algunos de nuestros asociados, sus
        experiencias y proyectos, y a ver cómo la pasión por el desarrollo
        familiar se traduce en un impacto real en la sociedad.
    </div>
</section>

<section class="nuestros_asociados_section">
    <div class="title">
        <h2>Conoce a algunos de nuestros asociados y sus experiencias.</h2>
    </div>

    <div class="resenas_ctn ">
        <div class="resenas_item">
            <div class="img">
                <img src="assets/webp/hombre_sonriendo.webp" alt="Hombre sonriendo">
            </div>
            <div class="resena">
                <p>“Ser profesional en Desarrollo Familiar es un privilegio. Me apasiona acompañar a las familias en sus
                    desafíos y celebrar sus éxitos. Cada día aprendo algo nuevo y me inspiro en su resiliencia y
                    capacidad de transformación."</p>
                <span>Juan David Castro</span>
            </div>
        </div>

        <div class="resenas_item">
            <div class="img">
                <img src="assets/webp/hombre_sonriendo.webp" alt="Hombre sonriendo">
            </div>
            <div class="resena">
                <p>“El Desarrollo Familiar me enseñó que cada familia es un universo único, lleno de potencial para
                    crecer y florecer. Mi pasión es ayudarlos a descubrir su fuerza interior y a construir relaciones
                    más fuertes y amorosas." </p>
                <span>Mariana Arboleda</span>
            </div>
        </div>

        <div class="resenas_item">
            <div class="img">
                <img src="assets/webp/hombre_sonriendo.webp" alt="Hombre sonriendo">
            </div>
            <div class="resena">
                <p>"El Desarrollo Familiar es mi vocación. Me encanta ver cómo las familias superan obstáculos y
                    construyen un futuro mejor. La cooperación es esencial para lograr este cambio positivo."</p>
                <span>Gabriela Torres</span>
            </div>
        </div>
    </div>
</section>

<section class="carousel_section">
    <div class="title">
        <h3>Ell@s ya la tienen. ¿Y tu?</h3>
    </div>

    <div class="fotos_ctn">
        <div class="img_ctn">
            <img src="assets/img/asociados_2.png" alt="asociado">
        </div>
        <div class="img_ctn">
            <img src="assets/img/asociados_1.png" alt="asociado">
        </div>
        <div class="img_ctn">
            <img src="assets/img/asociados_3.png" alt="asociado">
        </div>
    </div>

    <div class="btn_matriculate d-flex justify-content-center align-item-center">
        <a href="https://gmail.us21.list-manage.com/track/click?u=87a6b3d1f08aa9c74e5694697&id=ec147b1578&e=d0ae0f1e4b" target="_blank" class="btn-matriculate">Matricúlate
        </a>
    </div>

</section>