<section>
  <div class="txt_ctn d-flex flex-column gap-4">
    <h5 class="fw-bold text-lg-center">
      El Colegio Profesional de Desarrollo Familiar es una comunidad vibrante de
      profesionales comprometidos con la promoción del bienestar familiar. A
      través de la formación, investigación, incidencia política y colaboración,
      trabajamos para mejorar la vida de las familias en todo el mundo.
    </h5>
    <a class="btn-primary" routerLink="">Comencemos</a>
  </div>
</section>
<section class="nuestros_servicios_section">
  <div class="nuestros_servicios_ctn d-flex items-center flex-column" justify-center>
    <div class="title">
      <h4>Nuestros Servicios</h4>
    </div>
    <div class="column_ctn">
      <div class="first_column">
        <img src="assets/svg/13184991_5138232.svg" alt="user_svg" />
      </div>
      <div class="second_column d-flex flex-column items-center text-lg-center" >
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing, elit vestibulum
          ligula condimentum placerat magnis vitae
        </p>
        <a class="btn-primary" routerLink="">Comencemos</a>
      </div>
    </div>
  </div>
</section>
