.swiper_ctn {
  position: relative; /* Asegura que el contenedor tenga referencia para la posición absoluta de la sección */
}

.quienes_somos_section{
    padding: 3%;
}

.quienes_somos_section .txt_ctn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  right: 0;
  width: 70%;
  bottom: -25vw;
  color: #002c3f;
  display: grid;
  grid-template-columns: 70% 1fr;
  z-index: 10;
  background-color: white;
  padding: 2vw 4vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-items: center;
  align-items: center;
}

/* From Uiverse.io by abrahamcalsin */
.quienes_somos_section button {
  position: relative;
  display: flex;
  padding: 1vw 2vw;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f58736;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.quienes_somos_section button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: white;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.quienes_somos_section button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.quienes_somos_section button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.quienes_somos_section button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/** nuestros_servicios_section */

.nuestros_servicios_section .title h2 {
  color: #002c3f;
  font-size: 70px;
  font-weight: normal;

}
