.header__desktop .menu_navbar {
  background-color: #f16355 !important;
}

.quienes_somos_section {
  padding: 5% 5% 1% 5%;
  height: 100vh;
  background-image: url("/assets/img/servicios_banner.png");
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quienes_somos_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #002c3f;
  z-index: 1;
}

.quienes_somos_section .quienes_somos_content {
  z-index: 99;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
}

.quienes_somos_section .quienes_somos_content p {
  color: white;
}

.quienes_somos_section .quienes_somos_content h1 {
  color: white;
  line-height: 6vw;
  font-size: 7vw;
  font-weight: normal;
}

.quienes_somos_section .quienes_somos_content h1 span {
  color: white;
  font-size: 7vw;
  font-weight: bolder;
}

.quienes_somos_section .quienes_somos_content_final {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.quienes_somos_section .quienes_somos_content_final span {
  color: white;
  font-size: 4vw;
  position: relative;
  z-index: 99;
}

.quienes_somos_section .quienes_somos_content_final i {
  color: #f58736;
  font-size: 2vw;
  position: relative;
  z-index: 99;
}

/** Servicios section **/

.servicios_section {
  padding: 0;
}

.servicios_section .servicio_ctn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.servicio_ctn .icon_ctn {
  padding: 3vw 5vw;
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.cursos_diplomados_ctn .icon_ctn {
  display: flex;
  padding: 3vw;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  background-color: #f16355;
  position: relative;
}

.cursos_diplomados_ctn .icon_ctn::before {
  position: absolute;
  right: -3.5vw;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-color: #f16355;
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
}

.icon_ctn img {
  width: 230px;
  border-radius: 100%;
  height: 230px;
}

.icon_ctn h3 {
  color: white;
  font-size: 2vw;
}

.servicios_section .cursos_diplomados_ctn .text_ctn {
  display: flex;
  gap: 1vw;
  flex-direction: column;
  justify-content: center;
  padding: 3vw 4vw 3vw 6vw;
  color: #002c3f;
  font-weight: 800;
}

.servicios_section .text_ctn p {
  color: #002c3f;
}

/** expedicion tajeta profesional */

.expedicion_tarjeta_profesional_ctn .icon_ctn {
  order: 2;
  background-color: #169bd4;
  position: relative;
}

.expedicion_tarjeta_profesional_ctn .icon_ctn::before {
  position: absolute;
  left: -3.5vw;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-color: #169bd4;
  width: 7vw;
  z-index: -1;
  height: 7vw;
  border-radius: 100%;
}

.servicios_section .expedicion_tarjeta_profesional_ctn .text_ctn {
  display: flex;
  gap: 1vw;
  flex-direction: column;
  justify-content: center;
  padding: 3vw 6vw 3vw 3vw;
  color: #002c3f;
  text-align: justify;
  font-weight: 800;
}

/** tribunal nacional de etica */
.tribunal_nacional_etica .icon_ctn {
  background-color: #fdb431;
  position: relative;
}

.tribunal_nacional_etica .icon_ctn::before {
  position: absolute;
  right: -3.5vw;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-color: #fdb431;
  width: 7vw;
  z-index: -1;
  height: 7vw;
  border-radius: 100%;
}

.servicios_section .tribunal_nacional_etica .text_ctn {
  display: flex;
  gap: 1vw;
  flex-direction: column;
  justify-content: center;
  padding: 3vw 4vw 3vw 6vw;
  color: #002c3f;
  font-weight: 800;
}

/** inspeccion_vigilancia */

.inspeccion_vigilancia .icon_ctn {
  order: 2;
  background-color: #6ebc44;
  position: relative;
}

.inspeccion_vigilancia .icon_ctn::before {
  position: absolute;
  left: -3.5vw;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-color: #6ebc44;
  width: 7vw;
  z-index: -1;
  height: 7vw;
  border-radius: 100%;
}

.servicios_section .inspeccion_vigilancia .text_ctn {
  display: flex;
  gap: 1vw;
  flex-direction: column;
  justify-content: center;
  padding: 3vw 6vw 3vw 3vw;
  color: #002c3f;
  text-align: justify;
  font-weight: 800;
}

/** compromiso_conaldefa_section **/
.compromiso_conaldefa_section {
  padding: 5vw;
  background-image: url("/assets/img/servicios_banner.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.compromiso_conaldefa_section h5{
  border: 2px solid white;
  z-index: 100;
  width: 50%;
  border-radius: 1vw;
  padding: 1vw;
  color: white;
}

.compromiso_conaldefa_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #002c3f;
  z-index: 1;
}
