<section class="quienes_somos_section">
  <div class="quienes_somos_content">
    <h1>
      Nuestros<br />
      <span>Servicios</span>
    </h1>
    <p>
      El Colegio Nacional de Profesionales en Desarrollo Familiar (CONALDEFA) se
      dedica a promover, defender y potenciar el ejercicio de la profesión en
      Desarrollo Familiar. A través de nuestros servicios, buscamos fortalecer
      el estatus profesional y garantizar la calidad del servicio que se brinda
      a la sociedad.
    </p>
  </div>
</section>

<section class="servicios_section">
  <div class="servicio_ctn cursos_diplomados_ctn">
    <div class="icon_ctn">
      <img
        class="cursos_diplomados_svg"
        src="assets/img/Frame_1.png"
        alt="imagen de cursos"
      />
      <h3 class="h3_w">
        Cursos y Diplomados de <strong> Actualización Profesional:</strong>
      </h3>
    </div>
    <div class="text_ctn">
      <span
        >Mantente actualizado en las últimas tendencias del Desarrollo Familiar.
      </span>
      <p>
        CONALDEFA ofrece una amplia gama de cursos y diplomados de actualización
        profesional diseñados para que los profesionales del Desarrollo Familiar
        puedan mantenerse al día con las últimas tendencias y avances en el
        sector.
      </p>
    </div>
  </div>

  <div class="servicio_ctn expedicion_tarjeta_profesional_ctn">
    <div class="icon_ctn">
      <h3 class="h3_w">Expedición de <strong>Tarjeta Profesional</strong></h3>
      <img
        class="cursos_diplomados_svg"
        src="assets/img/Frame_2.png"
        alt="imagen de cursos"
      />
    </div>
    <div class="text_ctn">
      <span>Acreditando la excelencia en el Desarrollo Familiar </span>
      <p>
        La tarjeta profesional es la credencial que identifica a los
        profesionales en Desarrollo Familiar que cumplen con los requisitos de
        formación y experiencia establecidos por la ley. CONALDEFA es la entidad
        encargada de expedir esta tarjeta, asegurando que quienes la portan son
        profesionales competentes y comprometidos con la ética.
      </p>
    </div>
  </div>

  <div class="servicio_ctn tribunal_nacional_etica">
    <div class="icon_ctn">
      <img
        class="cursos_diplomados_svg"
        src="assets/img/Frame_3.png"
        alt="imagen de cursos"
      />
      <h3>
        Tribunal <br />
        Nacional de <br />
        <strong>Ética</strong>
      </h3>
    </div>
    <div class="text_ctn">
      <span>Velando por el cumplimiento del Código Deontológico</span>
      <p>
        El Tribunal Nacional de Ética es un órgano independiente encargado de
        velar por el cumplimiento del Código Deontológico y Ético del ejercicio
        profesional en Desarrollo Familiar. Este código establece los principios
        y valores que deben guiar la actuación de los profesionales,
        garantizando el respeto a las personas, la confidencialidad, la
        integridad y la responsabilidad.
      </p>
    </div>
  </div>

  <div class="servicio_ctn inspeccion_vigilancia">
    <div class="icon_ctn">
      <h3><strong>Inspección</strong> y <strong>Vigilancia</strong></h3>
      <img
        class="cursos_diplomados_svg"
        src="assets/img/Frame_4.png"
        alt="imagen de cursos"
      />
    </div>
    <div class="text_ctn">
      <span>Garantizando la calidad y la ética en el Desarrollo Familiar</span>
      <p>
        CONALDEFA ejerce, conforme a la ley, la inspección y la vigilancia en el
        ejercicio de la profesión en Desarrollo Familiar. Esto significa que
        vela por el cumplimiento de las normas éticas y legales que rigen la
        profesión, asegurando que los profesionales actúen con responsabilidad y
        en beneficio de las familias.
      </p>
    </div>
  </div>
</section>

<section class="compromiso_conaldefa_section">
  <h5>
    CONALDEFA, a través de estos servicios, se compromete a fortalecer el
    ejercicio profesional del Desarrollo Familiar, garantizando la calidad, la
    ética y el bienestar de las familias.
  </h5>
</section>
