/* banner section */

.banner_section {
  align-items: center;
  gap: 1vw;
  color: white;
  padding: 5% 20%;
  background: linear-gradient(to right, #3b8da9 0%, #a2c7eb 100%);
}

.banner_section .title h1 {
  font-weight: bold;
}

.banner_section .banner_content {
  border: 2px solid white;
  padding: 1vw;
  border-radius: 1vw;
}

/* services section */

.servicios_section {
  display: flex;
  gap: 5vw;
  flex-direction: column;
}

/** cursos y diplomados **/

.cursos_diplomados_ctn .cursos_diplomados_svg {
  width: 25vw;
}

.cursos_diplomados_ctn .text_ctn h3 {
  color: #e74830 !important;
}

.cursos_diplomados_ctn .text_ctn span {
  color: #e06a58 !important;
  font-size: 1.2vw ;
}

.inspeccion_vigilancia {
  display: grid;
  align-items: center;
  grid-template-columns: 38% 60%;
  gap: 2vw;
}

.inspeccion_vigilancia .icon_ctn {
  position: relative;
}

.inspeccion_vigilancia .lupa_svg {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 6vw;
  animation: spin-around 4s infinite linear;
}

.inspeccion_vigilancia .inspeccion_vigilancia_svg{
    width: 20vw;
}

@keyframes spin-around {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

@keyframes spin-around-mobile {
  from {
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

.servicio_ctn {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2vw;
}

.servicio_ctn .icon_ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio_ctn .text_ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
  width: 100%;
  height: 100%;
}

.servicio_ctn .text_ctn h3 {
  font-weight: bold;
  color: #3c738c;
}

.servicio_ctn .text_ctn span {
  color: #3b8da9;
  font-weight: 600;
}

.servicio_ctn .text_ctn p {
  font-weight: 500;
}

.expedicion_tarjeta_profesional_ctn .expedicion_tarjeta_svg {
    width: 20vw;
}

.tribunal_nacional_etica .tribunal_nacional_etica_svg {
    width: 20vw;
}


/* cursos diplomados ctn */

.cursos_diplomados_ctn .cursos_diplomados_svg {
    width: 20vw;
}

.cursos_diplomados_ctn .text_ctn h3 {
    font-weight: bold;
    color: #E74830;
}

.cursos_diplomados_ctn .text_ctn span {
  font-weight: 600;
  color: #E06A58;
}

.expedicion_tarjeta_profesional_ctn .text_ctn h3 {
  font-weight: bold;
  color: #cc454e;
}

.expedicion_tarjeta_profesional_ctn .text_ctn span {
  color: #e06a58;
  font-size: 1.2vw ;
  font-weight: 600;
}

  .tribunal_nacional_etica .tribunal_nacional_etica_svg {
    width: 20vw;
  }

.tribunal_nacional_etica .text_ctn h3 {
  font-weight: bold;
  color: #67c797;
}

.tribunal_nacional_etica .text_ctn span {
  color: #67c797;
  font-size: 1.2vw ;
  font-weight: 600;
}

.inspeccion_vigilancia .text_ctn span {
  font-size: 1.2vw ;
  font-weight: 600;
}

/* compromiso conaldefa section */

.compromiso_conaldefa_section {
  background-color: #74a8ba;  
}

.compromiso_conaldefa_section h5 {
  color: white;
  font-weight: 600;
}

@media (max-width: 767px) {
  .banner_section {
    padding: 5% 10%;
  }

  .banner_section .banner_content {
    padding: 2vw;
    text-align: center;
  }

  .servicio_ctn {
    grid-template-columns: 100%;
    text-align: center;
  }

    .servicio_ctn .text_ctn{
      align-items: center;
    }

    .servicio_ctn .text_ctn .h3_w {
      width: 100%;
    }

    .servicio_ctn .lupa_svg {
      width: 15vw !important;
      animation:  spin-around-mobile 4s infinite linear;
    }

    .servicio_ctn .cursos_diplomados_svg {
      width: 50vw !important;
    }

  .servicio_ctn .cursos_diplomados_svg,
  .servicio_ctn .inspeccion_vigilancia_svg,
  .servicio_ctn .expedicion_tarjeta_svg,
  .servicio_ctn .tribunal_nacional_etica_svg {
    width: 50vw !important;
  }
}


