<div class="pop-up_ctn">
  <div class="img_ctn">
    <img src="assets/img/logo.png" alt="Logo" />
  </div>
  <div class="ctn">
    <div class="pop-up">
      <p>
        En cumplimiento de la <strong>Ley 1266 de 2008</strong> y demás normas aplicables sobre
        protección de datos personales, <strong>CONALDEFA</strong>, Colegio Nacional de
        Profesionales en Desarrollo Familiar, le informa que los datos
        personales que nos proporcione a través de esta página web serán
        tratados de acuerdo a las normas establecidas. Si continúa navegando por
        la página web, usted acepta el tratamiento de sus datos.
      </p>
    </div>
    <button class="btn" (click)="closeDialog()"><span>Aceptar</span></button>
  </div>
</div>
