/* banner section */

.banner_section {
  align-items: center;
  gap: 1vw;
  color: white;
  padding: 5% 20%;
  background-color: var(--banner_blue);
}

.banner_section .title h1 {
  font-weight: bold;
}

.banner_section .banner_content {
  border: 2px solid white;
  padding: 1vw;
  border-radius: 1vw;
}

.banner_section .banner_content p {
  color: white;
}

/* normatividad section */
.normas_section {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.norma_ctn:nth-child(1) {
  display: grid;
  grid-template-columns: 45% 55%;
  border: #67c797 solid 3px;
  border-radius: 1vw;
  padding: 3vw 1vw 1vw 1vw;
  position: relative;
}

.norma_ctn:nth-child(1) .title {
  background-color: #67c797;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -2vw;
  padding: 1.5vw;
}

.norma_ctn:nth-child(2) {
  display: grid;
  grid-template-columns: 45% 55%;
  border: #f0605d solid 3px;
  border-radius: 1vw;
  padding: 3vw 1vw 1vw 1vw;
  position: relative;
}

.norma_ctn:nth-child(2) .title {
  background-color: #f0605d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -2vw;
  padding: 1.5vw;
}

.norma_ctn:nth-child(3) {
  display: grid;
  grid-template-columns: 45% 55%;
  border: #f7a66b solid 3px;
  border-radius: 1vw;
  padding: 3vw 1vw 1vw 1vw;
  position: relative;
}

.norma_ctn:nth-child(3) .title {
  background-color: #f7a66b;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -2vw;
  padding: 1.5vw;
}

.norma_ctn:nth-child(4) {
  display: grid;
  grid-template-columns: 45% 55%;
  border: #a2c7eb solid 3px;
  border-radius: 1vw;
  padding: 3vw 1vw 1vw 1vw;
  position: relative;
}

.norma_ctn:nth-child(4) .title {
  background-color: #a2c7eb;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -2vw;
  padding: 1.5vw;
}

.norma_ctn .title h4 {
  margin: 0;
}

.norma_ctn .icon_ctn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.norma_ctn .icon_ctn svg {
  width: 8vw;
}

@media (max-width: 767px) {

  .banner_section {
    padding: 5% 10%;
  }

  .banner_section .banner_content {
    padding: 2vw;
  }

  .normas_section{
    gap: 8vw;
  }

  .normas_section .norma_ctn{
    grid-template-columns: 100%;
  }

  .norma_ctn .title {
    top: -6vw !important;
    left: 50%;
    padding: 4vw !important;
    width: max-content;
    transform: translateX(-50%);
  }

  .norma_ctn .icon_ctn svg {
    width: 20vw;
  }

}

