/* styles.css o app.component.css */
.whatsapp-button {
  background-color: #40c351;
  position: fixed;
  padding: 5px;
  border-radius: 2vw 0 0 2vw; /* Ajusta según necesidad */
  right: 0%; /* Ajusta según necesidad */
  bottom: 10%; /* Ajusta según necesidad */
  transform: translateY(-50%); /* Centra verticalmente */
  z-index: 1000; /* Asegura que está sobre otros elementos */
  transition: all 0.4s;
  overflow: hidden;
}

.whatsapp-button:hover img {
  transform: scale(1.09);
}

.whatsapp-button img {
  width: 50px; /* Ajusta el tamaño del ícono */
  height: 50px;
  transition: all 0.4s;
  position: relative;
}
