<section class="banner_section d-flex flex-column">
  <div class="title">
    <h1>Reporte de Casos</h1>
  </div>
  <div class="banner_content">
    <p></p>
  </div>
</section>

<section class="reporte-casos-ctn d-flex flex-column gap-3">
  <div class="list_ctn">
    <h5>Tenga en cuenta</h5>
    <ul>
      <li>
        <p>
          El denunciado debe encontrarse inscrito en el Registro Profesional del
          CONALDEFA.
        </p>
      </li>
      <li><p>La falta no debe superar los cinco años de su ocurrencia.</p></li>
      <li>
        <p>
          Los hechos ocurridos deben constituir una falta disciplinaria,
          establecida en el Código de Ética, contenido en la Ley 2336 de 2023.
        </p>
      </li>
    </ul>
  </div>
  <div class="list_ctn">
    <h5>Trámite que se dará a la queja o denuncia</h5>
    <ul>
      <li>
        <p>
          Se analizarán los hechos y pruebas para determinar si es procedente la
          solicitud.
        </p>
      </li>
      <li>
        <p>Si es procedente se inicia investigación formal disciplinaria.</p>
      </li>
      <li><p>Si no es procedente se archiva la queja.</p></li>
      <li><p>Sanciones aplicables a las faltas disciplinarias</p></li>
    </ul>
  </div>
  <div class="list_ctn">
    <h5>
      En caso de determinarse falta disciplinaria, las sanciones que se pueden
      aplicar dependiendo la gravedad de la misma son:
    </h5>
    <ul>
      <li><p>Amonestación escrita</p></li>
      <li><p>Suspensión en el ejercicio profesional hasta por 5 años</p></li>
      <li>
        <p>
          Cancelación de la Matrícula Profesional, del Certificado Profesional o
          del Certificado de Matrícula.
        </p>
      </li>
    </ul>
  </div>
</section>
