/* banner section */

.banner_section {
  align-items: center;
  gap: 1vw;
  color: white;
  padding: 5% 20%;
  background: linear-gradient(to right, #3b8da9 0%, #a2c7eb 100%);
}

.banner_section .title h1 {
  font-weight: bold;
}

.banner_section .banner_content {
  border: 2px solid white;
  padding: 1vw;
  border-radius: 1vw;
}

.banner_section .banner_content p {
  color: white;
  width: 100%;
  text-align: center;
}

/** list_ctn */

.list_ctn ul {
  list-style-type: disc;
}

.reporte-casos-ctn h5 {
  font-weight: bold;
}