<section class="noticia_section">
  <div class="title"></div>
  <div class="d-flex flex-column gap-2" *ngIf="noticias.length > 0">
    <ul class="d-flex gap-3 d-flex flex-column">
      <div class="title">
        <h2>Noticias</h2>
      </div>
      <li class="noticias_ctn" *ngFor="let noticia of noticias">
        <div class="noticia_item">
          <div class="titulo">
            <h4>{{ noticia.titulo }}</h4>
          </div>
          <div class="img_ctn d-flex justify-content-center">
            <img
              *ngIf="noticia.imagen_url"
              [src]="noticia.imagen_url"
              alt="Imagen de {{ noticia.titulo }}"
            />
          </div>
          <div class="contenido">
            <p>{{ noticia.contenido | slice : 0 : 30 }}...</p>
            <!-- Muestra solo los primeros 100 caracteres -->
          </div>
          <div class="contenido d-flex flex-column">
            <span>Fecha de Publicación:</span>
            <span>{{ noticia.fecha_publicacion | slice : 0 : 10 }}</span>
          </div>
          <button class="btn-primary" [routerLink]="['/noticias', noticia.id]">
            Ver más
          </button>
        </div>
      </li>
    </ul>
  </div>


</section>
