.noticia_section {
  padding: 2vw;
  width: 100%;
}

.noticias_ctn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}

.noticia_item {
  width: 20vw;
  height: fit-content;
  border-radius: 10px;
  border: 0.1vw solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.noticia_item p {
  margin: 0;
}

.resolucion_item {
  width: 20vw;
  height: fit-content;
  border-radius: 10px;
  border: 0.1vw solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
