<section class="quienes_somos_section">
  <div class="quienes_somos_content">
    <h1>
      Nuestros<br />
      <span>Asociados</span>
    </h1>
    <p>
      Descubre cómo nuestras instituciones aliadas fortalecen la formación y el
      desarrollo familiar en América Latina y el Caribe. A través de la
      colaboración con estas destacadas universidades nacionales e
      internacionales, Conaldefa impulsa la excelencia académica y la innovación
      en el campo de la familia, promoviendo la cooperación, la investigación y
      la movilidad estudiantil en toda la región.
    </p>
  </div>
</section>

<section class="nuestros_aliados_section">
  <div class="nuestros_aliados_ctn">
    <div class="first_ctn">
      <div class="text_ctn">
        <h2>COLOMBIA</h2>
      </div>
      <div class="logo_ctn">
        <img src="assets/img/slide_2.png" alt="Colombia" />
        <img src="assets/img/slide_3.png" alt="Colombia" />
      </div>
    </div>
    <div class="second_ctn">
      <div class="card">
        <div class="txt_ctn">
          <h5>MÉXICO</h5>
        </div>
        <div class="logo_ctn">
          <img src="assets/img/slide_5.png" alt="México" />
        </div>
      </div>

      <div class="card">
        <div class="txt_ctn">
          <h5>ECUADOR</h5>
        </div>
        <div class="logo_ctn">
          <img src="assets/img/slide_6.png" alt="México" />
        </div>
      </div>

      <div class="card">
        <div class="txt_ctn">
          <h5>CHILE</h5>
        </div>
        <div class="logo_ctn">
          <img src="assets/img/slide_7.png" alt="México" />
        </div>
      </div>

      <div class="card">
        <div class="txt_ctn">
          <h5>ARGENTINA</h5>
        </div>
        <div class="logo_ctn">
          <img src="assets/img/slide_8.png" alt="México" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="objetivos_section">
  <div class="objetivos_ctn">
    <div class="first_ctn">
      <h4>Objetivos de la Red</h4>
      <ul>
        <li>
          <p>Promover la cooperación académica y científica entre sus miembros.</p>
        </li>
        <li>
          <p>Estimular la movilidad estudiantil y profesoral entre los programas de pregrado participantes.</p>
        </li>
        <li>
          <p>Promover convenios de doble titulación en el campo de la familia.</p>
        </li>
        <li>
          <p>Definir conjuntamente estándares académicos de formación en familia.</p>
        </li>
      </ul>
    </div>
    <div class="second_ctn">
      <h4>Principios y Marco de
        Actuación</h4>
        <ul>
          <li>
            <p>Filiación voluntaria de sus miembros.</p>
          </li>
          <li>
            <p>Naturaleza voluntaria y solidaria en sus acciones.</p>
          </li>
          <li>
            <p>Proyección internacional y articulación con otras redes académicas y científicas en familia.</p>
          </li>
          <li>
            <p>Respeto y reconocimiento de la diversidad de posturas ideológicas y epistemológicas.</p>
          </li>
          <li>
            <p>Enfoque de Convergencia y compromiso institucional.</p>
          </li>
        </ul>
    </div>
  </div>
</section>