.header__desktop .menu_navbar {
  background-color: #fdb431 !important;
}

.quienes_somos_section {
  padding: 5% 5% 1% 5%;
  height: 100vh;
  background-image: url("/assets/img/nuestros_asociados.png");
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quienes_somos_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #002c3f;
  z-index: 1;
}

.quienes_somos_section .quienes_somos_content {
  z-index: 99;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
}

.quienes_somos_section .quienes_somos_content p {
  color: white;
}

.quienes_somos_section .quienes_somos_content h1 {
  color: white;
  line-height: 6vw;
  font-size: 7vw;
  font-weight: normal;
}

.quienes_somos_section .quienes_somos_content h1 span {
  color: white;
  font-size: 7vw;
  font-weight: bolder;
}

.quienes_somos_section .quienes_somos_content_final {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.quienes_somos_section .quienes_somos_content_final span {
  color: white;
  font-size: 4vw;
  position: relative;
  z-index: 99;
}

.quienes_somos_section .quienes_somos_content_final i {
  color: #f58736;
  font-size: 2vw;
  position: relative;
  z-index: 99;
}

/* nuestros_aliados_section */
.nuestros_aliados_section {
  background-color: #F5F5F5;
}

.nuestros_aliados_ctn {
  display: flex;
  flex-direction: column;
}

.nuestros_aliados_ctn .first_ctn {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 1vw;
  justify-content: center;
  align-items: center;
}

.nuestros_aliados_ctn .first_ctn .text_ctn {
  display: flex;
  border-radius: 1vw 0 0 1vw;
  justify-content: center;
  align-items: center;
  background-color: #fdb431;
  width: 100%;
  height: 100%;
}

.nuestros_aliados_ctn .first_ctn .text_ctn h2 {
  font-size: 70px;
  font-weight: bold;
  color: #ba882f;
}

.nuestros_aliados_ctn .logo_ctn {
  border-radius:  0 1vw 1vw 0 ;
  display: flex;
  padding: 2vw;
  gap: 2vw;
  background-color: white;
  justify-content: center;
  align-items: center;  
}

.nuestros_aliados_ctn .logo_ctn img {
  width: 200px;
  height: 200px;
}

.nuestros_aliados_section .second_ctn {
  display: grid;
  gap:2vw;
  grid-template-columns: repeat(4,1fr);
}

.nuestros_aliados_section .second_ctn img {
  width: 10vw;
  height: 10vw;
}

.second_ctn .card .txt_ctn {
  background-color: #002c3f;
  color: #FDB431;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  border-radius: 1vw 1vw 0 0 ;
}

.second_ctn .txt_ctn h5 {
  margin: 0;
  font-weight: bolder;
} 

.second_ctn .logo_ctn {
  border-radius: 0 0 1vw 1vw;
}

/** objetivos_section */
.objetivos_section {
padding: 0;
}

.objetivos_ctn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.objetivos_ctn .first_ctn {
  padding: 8%;
  background-image: url("/assets/img/nuestros_asociados.png");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.objetivos_ctn .first_ctn h4 {
  color: #FDB431;
  z-index: 100;
  position: relative;
}

.objetivos_ctn .first_ctn ul {
  list-style: disc;
  color: white;
  z-index: 99;
  position: relative;
}

.objetivos_ctn .first_ctn ul p {
  color: white;
  z-index: 100;
  position: relative;
  }

.objetivos_ctn .first_ctn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #002c3f;
  z-index: 1;
}

.objetivos_ctn .second_ctn {
  padding: 8%;
  background-color: #FDB431;
}

.objetivos_ctn .second_ctn h4 {
  color: #002c3f;
}

.objetivos_ctn .second_ctn ul {
  list-style: disc;
  color: #002c3f;
}