.banner_section {
  align-items: center;
  gap: 1vw;
  color: white;
  padding: 5% 20%;
  background-color: var(--banner_blue);
}
.banner_section .banner_content {
  border: 2px solid white;
  padding: 1vw;
  border-radius: 1vw;
}

/** mapa_mundo_section */

.mapa_mundo_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa_mundo_section svg {
  width: 30vw;
}

swiper-container {
  width: 100%;
  height: 100%;
  --swiper-navigation-color: black;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 12vw;
  height: 100%;
  object-fit: cover;
}

.colaboradores_slide {
  padding: 5vw 0vw;
}

/* objetivos_section */

.objetivos_section {
  background-color: #3b8da9;
  display: flex;
}

.objetivos_section h4 {
  font-weight: 700;
  color: white;
}

.objetivos_section ul {
  list-style: disc;
  color: white;
}

.objetivos_section ul li p {
  color: white;
}

@media (max-width: 767px) {
  .banner_section {
    padding: 5% 10%;
  }

  .banner_section .banner_content {
    padding: 2vw;
    text-align: center;
  }

  .mapa_mundo_section svg {
    width: 50vw;
  }

  swiper-slide img {
    width: 30vw;
  }

  .objetivos_section {
    flex-direction: column;
  }

}
