<section class="quienes_somos_section">
  <div class="quienes_somos_content">
    <h1><strong> ¡Matricúlate! </strong></h1>
    <p>
      La Tarjeta Profesional es tu credencial oficial como profesional en  Desarrollo Familiar. Afiliarte a CONALDEFA te permite obtenerla y  acceder a una serie de beneficios que fortalecerán tu carrera y te  ayudarán a brindar un mejor servicio a las familias.
    </p>
  </div>

  <div class="second_column_matriculate">
    <div class="title">
      <h3>Fortalece tu carrera y contribuye al bienestar
        de las familias</h3>
    </div>
    <div class="info">
      <div class="list_ctn">
        <ul>
          <li>
            <p>Reconocimiento oficial</p>
          </li>
          <li>
            <p>Acceso a formación continua</p>
          </li>
          <li>
            <p>Participación en eventos y  redes de contacto</p>
          </li>
          <li>
            <p>Asesoría y orientación</p>
          </li>
          <li>
            <p>Representación gremial</p>
          </li>
          <li>
            <p>Contribución social.</p>
          </li>
          <li>
            <p>Crecimiento personal y profesional</p>
          </li>
        </ul>
      </div>
      <div class="btns_ctn">
        <div class="btn_ctn">
          <a href="https://gmail.us21.list-manage.com/track/click?u=87a6b3d1f08aa9c74e5694697&id=ec147b1578&e=d0ae0f1e4b" target="_blank" class="btn_custom btn1"><span>Matriculate</span></a>
          <button class="btn_custom btn2" (click)="openDialog()"><span>Más información</span></button>
        </div>
        <div class="info_ctn">
          <p>¡Únete a la comunidad de profesionales en Desarrollo Familiar y construyamos juntos un futuro mejor para las familias!</p>
        </div>
      </div>
    </div>
  </div>
</section>
