/* banner section */

.banner_section {
    align-items: center;
    gap: 1vw;
    color: white;
    padding: 5% 20%;
    background-color: var(--banner_blue);
  }
  
  .banner_section .title h1 {
    font-weight: bold;
  }
  
  .banner_section .banner_content {
    border: 2px solid white;
    padding: 1vw;
    border-radius: 1vw;
    
  }

  .banner_section .banner_content p{
   color: white;
   width: 100%;
   text-align: center;
    
  }

  /* matriculate section */

  .btn {
    background-color: #CC454E;
    padding: 5px 20px;
    color: #fff;
    font-family: 'Dancing Script', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #CC454E;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .btn span:last-child {
    display: none;
   }
   
   .btn:hover {
    transition: .4s;
    border: 2px dashed #CC454E;
    background-color: #fff;
    color: #CC454E;
   }
   
   .btn:active {
    background-color: #87dbd0;
   }

   .matriculate_section{
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 0;
 
   }

   .matriculate_ctn {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: 0 5%;
   }

   .matriculate_section .title{
    padding-top: 5%;
   }

   .matriculate_section .title h3{
    color: #3C738C;
    text-align: center;
    font-weight: bold;
   }

   .matriculate_ctn .txt_ctn{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
   }

   .matriculate_ctn ul {
    list-style: disc;
   }

   .matriculate_section .final_ctn {
    background: #3B8DA9;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
   }
   
   @media (max-width: 767px) {
  
    .banner_section {
      padding: 5% 10%;
    }

    .banner_section .banner_content {
      padding: 2vw;
      
    }

    .banner_section .banner_content p{
     text-align: left;
    }

    .matriculate_ctn {
      grid-template-columns: 100%;
      gap: 4vw;
    }

  
  }


  