<section class="codigo_deontologico_section">
  <div class="title">
    <h2>Código deontológico</h2>
  </div>

  <div class="cod_deontologico_ctn">
    <p>
      El Código de Ética Profesional constituye el catálogo de conductas
      profesionales que se exigen, se prohíben o que inhabilitan a los
      ingenieros en general y a sus profesionales afines o auxiliares.
    </p>
    <a href="assets/pdf/CÓDIGO DE ÉTICA.pdf" download class="download_btn">
      <span>descargar</span>
      <img src="assets/svg/Downloadcloud.svg" alt="download cloud" />
    </a>
  </div>
</section>

<section class="reporte_casos_section">

  <div class="title">
    <h2>Reporte de Casos</h2>
  </div>
  <div class="text_ctn_1">
    <p class="first_column">
      CONALDEFA se compromete con la ética y la transparencia en el ejercicio de la profesión. Si tienes conocimiento de alguna situación que pueda  violar el Código Deontológico y Ético, te invitamos a reportarla a  través de este formulario. Tu denuncia será tratada con confidencialidad y profesionalismo.
    </p>
    <div class="list_ctn">
      <h3>Tenga en cuenta</h3>
      <ul>
        <li>
          <p>El denunciado debe encontrarse inscrito en el Registro Profesional del CONALDEFA.</p>
        </li>
        <li>
          <p>La falta no debe superar los cinco años de su ocurrencia.</p>
        </li>
        <li>
          <p>Los hechos ocurridos deben constituir una falta disciplinaria,  establecida en el Código de Ética, contenido en la Ley 2336 de 2023.</p>
        </li>
      </ul>

      <h3>Trámite que se dará a la queja o denuncia</h3>
      <ul>
        <li>
          <p> Se analizarán los hechos y pruebas para determinar si es procedente la solicitud.</p>
        </li>
        <li>
          <p>Si es procedente se inicia investigación formal disciplinaria.</p>
        </li>
        <li>
          <p>Si no es procedente se archiva la queja.</p>
        </li>
        <li>
          <p>Sanciones aplicables a las faltas disciplinarias</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="text_ctn_2">
    <h3>En caso de determinarse falta disciplinaria, las sanciones que se pueden aplicar dependiendo la gravedad de la misma son:</h3>

    <ul>
      <li>
        <p>Amonestación escrita</p>
      </li>
      <li>
        <p>Suspensión en el ejercicio profesional hasta por 5 años</p>
      </li>
      <li>
        <p>Cancelación de la Matrícula Profesional, del Certificado Profesional o del Certificado de Matrícula.</p>
      </li>
    </ul>
  </div>

</section>