<section class="codigo_deontologico_section">
  <div class="title">
    <h2>Código deontológico</h2>
  </div>

  <div class="cod_deontologico_ctn">
    <p>
      El Código de Ética Profesional constituye el catálogo de conductas
      profesionales que se exigen, se prohíben o que inhabilitan a los
      ingenieros en general y a sus profesionales afines o auxiliares.
    </p>
    <a href="assets/pdf/CÓDIGO DE ÉTICA.pdf" download class="download_btn">
      <span>descargar</span>
      <img src="assets/svg/Downloadcloud.svg" alt="download cloud" />
    </a>
  </div>
</section>

