<footer>
  <div class="footer__first__ctn">
    <div class="footer__first__ctn__first__column d-flex flex-column gap-2">
      <div class="title">
        <h5 class="fw-bold mb-3">Contáctenos</h5>
      </div>
      <div class="">
        <h5 class="fw-bold d-flex align-center gap-3">
          <i class="text-primary fa-regular fa-address-book"></i>Detalles de
          contacto
        </h5>
        <ul class="mt-3">
          <li><p>Ubicación: Manizales - Caldas - Colombia</p></li>
          <li><p>Dirección: calle 65 # 26 - 10</p></li>
          <li><p>Telefono: 315 422 35 87</p></li>
          <li><p>Email: conaldefa@gmail.com</p></li>
        </ul>
      </div>
      <div class="">
        <h5 class="fw-bold d-flex align-center gap-3">
          <i class="text-primary fa-regular fa-clock"></i>Horario de atención
        </h5>
        <ul class="mt-3">
          <li>
            <p>Lunea a Viernes: 8.00 AM – 6.00 PM</p>
          </li>
          <li>
            <p>Sábados y Domingo: No hay atención al público</p>
          </li>
        </ul>
      </div>

      <div class="">
        <h5 class="fw-bold d-flex align-center gap-3 mb-4">
          <i class="text-primary fa-regular fa-heart"></i>Siguenos en redes
        </h5>
        <div class="redes_ctn">
          <a href="" aria-label="facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram" aria-label="instagram" target="_blank"></i></a>
          <a href=""><i class="fa-brands fa-twitter" aria-label="twitter" target="_blank"></i></a>
          <a href=""><i class="fa-brands fa-linkedin" aria-label="linkedin" target="_blank"></i></a>
          <a href=""><i class="fa-brands fa-youtube" aria-label="youtube" target="_blank"></i></a>
        </div>
      </div>
    </div>
    <app-contact-form></app-contact-form>
  </div>
  <div class="footer__second__ctn"></div>
  <div class="footer__third__ctn d-flex pt-5 pr-5 pl-5 pb-3">
    <img class="wave_footer" src="assets/svg/wave.svg" alt="" />
    <div class="logo_ctn">
      <img src="assets/img/logo.png" alt="Logo Conaldefa" />
    </div>
    <div class="contact_links">
      <ul class="d-flex flex-column g-2 p-0 m-0">
        <li>
          <a class="btn-primary" routerLink=""
            ><i class="fa-solid fa-phone"></i>(601) 745 14 70</a
          >
        </li>
        <li>
          <a class="btn-primary" routerLink=""
            ><i class="fa-solid fa-envelope"></i>colnaldefa@colnaldefa.org</a
          >
        </li>
        <li>
          <a class="btn-primary"
            ><i class="fa-solid fa-location-dot"></i>Manizales, Caldas</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__fourth__ctn"></div>
</footer>
